@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: rgba(173, 99, 30, 0.884);
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #33a089;
}

.login-header {
  background:  rgb(94, 65, 32);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: rgb(227, 227, 233);
}

.login-container {
  background: rgb(94, 65, 32);
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: rgb(229, 230, 224);
  border-color: #bbb;
  color: rgb(57, 202, 38) ;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #d86111;
  border-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background:#2e8b57;
}

.login input[type="submit"]:focus {
  border-color: #2e8b57;
}